<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch</title>
    <!-- vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="message.foo.bar.name">
        <input type="number" v-model="message2.foo.bar.age">
        <p>{{ message }}</p>
        <p>{{ message2 }}</p>
        <button @click="() => watchId()">stop Msg2 Watch</button>
    </div>

    <script>
        const { createApp } = Vue
        const { ref, reactive, watch, toRef } = Vue

        createApp({
            setup() {
                const message = ref({
                    foo: {
                        bar: {
                            name: 'xiao yao',
                            age: 18
                        }
                    }
                })

                const message2 = reactive({
                    foo: {
                        bar: {
                            name: 'xiao yang',
                            age: 20
                        }
                    }
                })

                // 监听 引用类型的改变，newV 和 oldV 的值相同，都为最新的
                // watch(...) 返回一个函数，执行这个函数可以结束 当前监听器，这里执行watchId() 就不再单独监听 message2 对象了，即下面这个监听器会被销毁
                const watchId = watch(message2, (newV, oldV) => {
                    console.log('message2 watch', newV, oldV);
                }, {
                    deep: true   // 深度监听
                })
                console.log(watchId);

                // 监听引用类型具体某个属性的变化，可以 处理成函数引用 或者 处理成单个响应变量，因为watch第一个参数不接受 string | number 等普通类型
                // 如果监听的是 ref对象， 取属性时一样需要加上 .value

                watch(() => message.value.foo.bar.name, (newV, oldV) => {
                    console.log('message watch name (function)', newV, oldV);
                })

                watch(toRef(message2.foo.bar, 'age'), (newV, oldV) => {
                    console.log('message2 watch age (toRef)', newV, oldV);
                })

                // 监听多个值时可以以数组将监听的值组合起来，newV 和 oldV 此时也是数组
                watch([message, message2], (newV, oldV) => {
                    console.log('message, message2 watch', newV, oldV);
                }, {
                    deep: true,
                    immediate: true  // 加载完成是否立即执行，此时oldV 是 undefined | []
                })
                return {
                    watchId,
                    message,
                    message2,
                }
            },
            data() {
                return {}
            }
        }).mount('#app')
    </script>
</body>

</html>